<configuration>

    <property name="LOG_DIR" value="/var/log/app"/>

    <appender name="API_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/api.log</file>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- Même style que ton log actuel -->
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>

                <version>
                    <fieldName>@version</fieldName>
                </version>

                <message/>
                <loggerName>
                    <fieldName>logger_name</fieldName>
                </loggerName>
                <threadName>
                    <fieldName>thread_name</fieldName>
                </threadName>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <!-- 1) userConnected : userId + email -->
                <mdc>
                    <fieldName>userConnected</fieldName>
                    <includeMdcKeyName>userId</includeMdcKeyName>
                    <includeMdcKeyName>email</includeMdcKeyName>
                </mdc>

                <!-- 2) Tout le reste du MDC à la racine -->
                <mdc>
                    <!-- pas de fieldName -> les clés vont directement à la racine -->
                    <excludeMdcKeyName>userId</excludeMdcKeyName>
                    <excludeMdcKeyName>email</excludeMdcKeyName>
                </mdc>
            </providers>
        </encoder>


        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/api-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.example.tp3restructuring.controller" level="INFO" additivity="false">
        <appender-ref ref="API_JSON"/>
    </logger>

    <logger name="com.example.tp3restructuring.Service" level="INFO" additivity="false">
        <appender-ref ref="API_JSON"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>